body{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    margin: 0;
}
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}
.logo{
    height: 150px;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    padding-left: 15px;
}
a{
    text-decoration: none;
    text-transform: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header1, .header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}
.sky{
    height: 225px;
    width: 225px;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    border-radius: 15px;
}
.main-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.subtext{
    color: #E5E7EB;
    font-size: 18px;
}
button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 10px;
}
.main{
    width: 480px;
}
.information{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;;
    margin-bottom: 40px;
}
.image{
    width: 150px;
    height: 225px;
    border-radius: 15px;
}
.random{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    margin-bottom: 40px;
}
.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;;
    margin-bottom: 40px;
}
.main-quote{
    background-color: #E5E7EB;
}
#author{
    font-weight: 900;
    font-size: 18px;
    text-align: right;
}
.bold{
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.action-button{
    background-color: #3882f6;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.margin-action{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}
.size{
    width: 300px;
}